---
import SylCoreFrontLogo from '../assets/Front-SylCore-Without-Background.png';
---

<header>
    <section class="text-white p-30 shadow-lg headerSection">
        <div class="max-w-7xl mx-auto">
            <!-- <img class="mx-auto pb-2" src={SylCoreFrontLogo.src} width="350" height="350"/>-->
            <img class="mx-auto pb-2" src={SylCoreFrontLogo.src} width="300" height="300"/>
            <hr class="opacity-25 m-5"/>

            <p class=" text-center text-2xl mb-8">
                Complete Open Source Emulator For World Of Warcraft 3.3.5a
            </p>

            
        </div>
    </section>

</header>


<!-- This style is the normal color I have used  -->
<style>

    .headerSection{
        background-color: #232323;


    }
</style>

<!-- Show Jesper this when he gets online.
<style>

    .headerSection{
        background-color: #232323;


    }



</style>

-->